{% extends 'app/base1.html' %}{% load static %}{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <title>Pre Dashboard</title>
    <style>
      .btn-success {
        width: 150px;
        height: 70px;
      }
      .btn-primary {
        width: 150px;
        height: 70px;
      }
      span {
        font-size: 40px;
      }
    </style>
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Welcome {{request.user.username}}</h3>

          <p>Pay your one time activation key</p>
        </div>

        <div class="col-lg-4">
          <center>
            <a href="" class="btn btn-success"><span>&#8358;</span></a
            ><br /><br />
            <p>Pay in Naira</p>
          </center>
        </div>
        <div class="col-lg-4">
          <center>
            <a href="" class="btn btn-primary"
              ><span class="money">&#8383;</span></a
            ><br /><br />
            <p>Pay in Naira</p>
          </center>
        </div>
      </div>
    </div>
    <br /><br /><br />
  </body>
</html>
{% endblock %}
